build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
_deps/

bin/
*.exe
*.out
*.app

*.dll
*.so
*.dylib
*.a
*.lib

*.o
*.obj

*.pdb
*.ilk
*.dSYM/

libgcc_s*.dll
libstdc++*.dll
libwinpthread*.dll

.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

.DS_Store
Thumbs.db

*.log
*.tmp
